/* DOCUMENT INFORMATION
	- Document: SIM5 Runner Dashboard Styles
	- Author:   Shipra  
*/

body {
    height: 100%;
}

.breadcrumb #b_scenario a, .breadcrumb #b_item a, .breadcrumb #b_method a {
    cursor: default;
}

.baloo-description {
    min-height: 3em;
    display: none;
    padding-left: 5px;
    background: none;
	box-shadow: none;
	border: 1px solid lightblue;	
	font-size: 15px;
}

.baloo-description label {
	margin-bottom: auto;
}

.baloo-description span {
	color: #0000ff;
}

code {
	color: #0000FF;
	background: none;
}

#layout-skins-list code {
	color: #c7254e;
}

#actionDetailsForm input {
	margin: 5px 0px 5px 0px;
}

.action-details-section label .functionDisplayName {
	color: #0000ff;
    font-size: 15px;
    font-weight: normal;
}

.control-sidebar legend {
 	color: white;
    margin: auto;
    text-align: center;
    width: 95%;
}

.control-sidebar .pad {
    margin-top: 10px;
}

