body {
    height: 100%;
}

.baloo-description {
    min-height: 3em;
    display: none;
    padding-left: 5px;
    background: none;
	box-shadow: none;
	border: 1px solid lightblue;	
}

.baloo-description h4 {
	display: inline-block;
}

.baloo-description span {
	color: #0000ff;
	font-size: 15px;
}


code {
	color: #0000FF;
	background: none;
}

#layout-skins-list code {
	color: #c7254e;
}

#actionDetailsForm input {
	margin: 5px 0px 5px 0px;
}

.action-details-section label .functionDisplayName {
	color: #0000ff;
    font-size: 15px;
    font-weight: normal;
}